* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.custom-table {
  background-color: black;
  border-collapse: collapse;
  width: 95vw;
  margin: 20px;
}

.custom-table th,
.custom-table td {
  border: 1px solid white;
  padding: 10px;
  text-align: left;
  color: white;
}

.custom-table th {
  background-color: #333;
}
